{% load static %}

<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% block title %} Budget Management App {% endblock %}</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static '/CSS/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static '/CSS/main.css' %}" rel="stylesheet">
    <link href="{% static '/CSS/dashboard.css' %}" rel="stylesheet">

</head>

<body data-new-gr-c-s-check-loaded="14.1087.0" data-gr-ext-installed="">

    <div class="container-fluid">
        <div class="row">

            <main role="main" class="col-md-12">

                <div class="card">

                </div>   

                    <div class="col-md-3">


                    </div>

                    <div class="col-md-6">
                        {% block content %}

                        {% endblock %}
                    </div>
                    
                    <div class="col-md-3">

                        
                    </div>                    
            </main>
        </div>
    </div>

    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="../../static/js/vendor/jquery-slim.min.js"><\/script>')</script>
    

    <!-- Icons -->
    <script src="https://unpkg.com/feather-icons/dist/feather.min.js"></script>
    <script>
        feather.replace()
    </script>

    <!-- Graphs -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.7.1/dist/Chart.min.js"></script>
    <script>
        var ctx = document.getElementById("myChart");
        var myChart = new Chart(ctx, {
            type: 'line',
            data: {
                labels: ["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"],
                datasets: [{
                    data: [15339, 21345, 18483, 24003, 23489, 24092, 12034],
                    lineTension: 0,
                    backgroundColor: 'transparent',
                    borderColor: '#007bff',
                    borderWidth: 4,
                    pointBackgroundColor: '#007bff'
                }]
            },
            options: {
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero: false
                        }
                    }]
                },
                legend: {
                    display: false,
                }
            }
        });
    </script>