{% extends 'base.html' %}

{% block content %}
<div class="container">
    <h1>My Expenses</h1>
    <ul class="list-group">
        <li class="list-group-item">Salon </li>
        <li class="list-group-item">Food </li>
        <li class="list-group-item">Car Loan </li>
        <li class="list-group-item">House Rent </li>
        <li class="list-group-item">Car Fuel </li>
        <li class="list-group-item">Electricity </li>
        <li class="list-group-item">Water bill </li>
        <li class="list-group-item">Hospital </li>
    </ul>
</div>
 
 {% endblock content %}